{# =============================================================== #}
{# Styleguide Code
{# =============================================================== #}
{#
  {% include 'styleguide/_partials/styleguide-code' with {
    code: '<p>Some code goes here</p>'
  } only %}
#}

<pre class="styleguide-code js-copy-to-clipboard"><code>{% apply spaceless %}{{ code | replace({ '        ': '' }) }}{% endapply %}</code></pre>
