{# =============================================================== #}
{# Styleguide Items
{# =============================================================== #}
{#
  {% include 'styleguide/_partials/styleguide-items' with {
    items: {
      'Default': {
        code: "
        {% include '_partials/foo' with {
          someProp: 'blah'
        } %}
        ",
        classes: 'styleguide-item--dark'
      },
      …
    }
  } only %}
#}

{% for key, item in items %}
  {% include 'styleguide/_partials/styleguide-item' with {
    name: key,
    code: item.code,
    classes: item.classes ?? null
  } only %}
{% endfor %}
