{# =============================================================== #}
{# Embed - Section
{# =============================================================== #}
{#
    {% embed '_embeds/l-section' with {
      classes: '',
      modifiers: ['max'],
      id: 'some-id'
    } %}
      {% block content %}
        …
      {% endblock %}
    {% endembed %}
#}

{% import '_macros/class-modifiers' as classModifiers %}
{% set modifierClasses = classModifiers.set('l-section', modifiers ?? []) %}

<section class="l-section  {{ modifierClasses }} {{ classes ?? '' }}">
  {% if id ?? null %}
    {% include '_partials/anchor' with {
      id: id,
    } only %}
  {% endif %}

  <div class="l-section__inner">
    {% block content %}{% endblock %}
  </div>
</section>
