{# =============================================================== #}
{# Embed - Section
{# =============================================================== #}
{#
    {% embed '_embeds/l-section' with {
      classes: '',
      modifiers: ['max'],
      id: 'some-id'
    } %}
      {% block content %}
        …
      {% endblock %}
    {% endembed %}
#}

<section class="l-section {{ classes ?? '' }} {% if modifiers is defined and modifiers | length %}{% for modifier in modifiers %}l-section--{{ modifier }} {% endfor %}{% endif %}">
  {% if id ?? null %}
    <a id="{{ id }}" class="anchor-link {{ anchorLinkClass ?? '' }}"></a>
  {% endif %}

  <div class="l-section__inner">
    {% block content %}{% endblock %}
  </div>
</section>
