/*
Reset Input

Removes the default appearance set by some browsers.
*/

@mixin reset-input {
  color: inherit;
  appearance: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}
