/*
Responsive SVG

Ensures that a child SVG will grow responsively.
*/

@mixin responsive-svg($ratio: 1) {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: $ratio * 100%;

  > svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
