{# =============================================================== #}
{# 404 Error Template
{# =============================================================== #}

{% extends "_layout" %}

{% do seomatic.meta.seoTitle('Page Not Found') %}

{% block content %}
  <h1>Page Not Found</h1>
{% endblock %}
