{# =============================================================== #}
{# 503 Unavailable Error Template
{# =============================================================== #}

{% extends "_layout" %}

{% do seomatic.meta.seoTitle('Site Unavailable') %}

{% block content %}
  <h1>Site Unavailable</h1>
{% endblock %}
