# Craft Environment ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

SECURITY_KEY="<%= securityKey %>"

IMAGE_DRIVER="gd"
DEFAULT_IMAGE_QUALITY=90
PHP_MAX_MEMORY_LIMIT="256M"

DB_DRIVER="mysql"
DB_SERVER="127.0.0.1"
DB_DATABASE="<%= projectName %>"
DB_USER="root"
DB_PASSWORD=""
DB_TABLE_PREFIX="craft"
DB_PORT=""

SITE_URL="http://<%= projectName %>.test"
DEV_MODE="true"
ENABLE_TEMPLATE_CACHING="false"
CP_TRIGGER="admin"
ENV_LABEL="Local"
ENV_COLOR="#0085a1"

# S3 Settings
S3_KEY_ID=""
S3_SECRET=""
S3_BUCKET="<%= projectName %>-craft"
S3_REGION="us-east-1"

# CloudFront settings
CLOUDFRONT_URL=""
CLOUDFRONT_DISTRIBUTION_ID=""
CLOUDFRONT_PATH_PREFIX=""
