{# =============================================================== #}
{# General Error Template
{# =============================================================== #}

{% extends "_layout" %}

{% do seomatic.meta.seoTitle('Page Error') %}

{% block content %}
  <h1>Page Error</h1>
{% endblock %}
