/*
Layout - Section

Reusable content container, primarily responsible for managing common
spacing and relationships between various vertical sections of the site.
*/

@mixin l-section-max {
  @include outer-padding;

  .l-section__inner {
    @include max-width;
  }
}

@mixin space-top {
  @include fluid-size(section-vertical, padding-top);
}

@mixin space-bottom {
  @include fluid-size(section-vertical, padding-bottom);
}


.l-section {

}

.l-section__inner {

}


// ---------------------------------------------------------------
// Modifier - Max Width
// ---------------------------------------------------------------

.l-section--max {
  @include l-section-max;
}


// ---------------------------------------------------------------
// Modifier - Padding
// ---------------------------------------------------------------

.l-section--space-top {
  @include space-top;
}

.l-section--space-bottom {
  @include space-bottom;
}

.l-section--space-vert {
  @include space-top;
  @include space-bottom;
}


// ---------------------------------------------------------------
// Modifier - Block
// ---------------------------------------------------------------

// "Block" sections will not automatically have space before or after them.
// This allows them to sit flush with their neighboring blocks.

.l-section--block-top:not(.l-section--block-top-mobile) {
  @include fluid-size(none, padding-top);
}

.l-section--block-bottom:not(.l-section--block-bottom-mobile) {
  @include fluid-size(none, padding-bottom);
}

.l-section--block-top-mobile {
  @include media('<medium') {
    @include fluid-size(none, padding-top);
  }
}

.l-section--block-bottom-mobile {
  @include media('<medium') {
    @include fluid-size(none, padding-bottom);
  }
}


// ---------------------------------------------------------------
// Background Color
// ---------------------------------------------------------------

.l-section--bg-light {
  @include theme-light;
  background-color: var(--theme-bg);
}

.l-section--bg-dark {
  @include theme-dark;
  background-color: var(--theme-bg);
}


// ---------------------------------------------------------------
// Adjacent Block Spacing
// ---------------------------------------------------------------

$bg-colors: light, dark;

@each $bg-color in $bg-colors {
  @include media('<medium') {
    .l-section--bg-#{$bg-color}:not(.l-section--block-bottom) + .l-section--bg-#{$bg-color}:not(.l-section--block-top):not(.l-section--block--top-mobile) {
      @include fluid-size(section-vertical, margin-top, $negative: true);
    }
  }

  @include media('>=medium') {
    .l-section--bg-#{$bg-color}:not(.l-section--block-bottom) + .l-section--bg-#{$bg-color}:not(.l-section--block-top) {
      @include fluid-size(section-vertical, margin-top, $negative: true);
    }
  }
}


// ---------------------------------------------------------------
// Unique styles
// ---------------------------------------------------------------

// .l-section--foo + .l-section--bar {

// }
