/*
Layout - Section

Reusable content container.
*/

@mixin l-section-max {
  @include fluid-size(outer, padding-left padding-right);

  .l-section__inner {
    @include max-width;
  }
}

@mixin pad-top {
  @include fluid-size(section-vertical, padding-top);
}

@mixin pad-bottom {
  @include fluid-size(section-vertical, padding-bottom);
}


.l-section {

}

.l-section__inner {

}


// ---------------------------------------------------------------
// Modifier - Max Width
// ---------------------------------------------------------------

.l-section--max {
  @include l-section-max;
}


// ---------------------------------------------------------------
// Modifier - Padding
// ---------------------------------------------------------------

.l-section--pad-top {
  @include pad-top;
}

.l-section--pad-bottom {
  @include pad-bottom;
}

.l-section--pad-vert {
  @include pad-top;
  @include pad-bottom;
}


// ---------------------------------------------------------------
// Modifier - Background Color
// ---------------------------------------------------------------

$section-bg-colors: (
  default: color(white),
  gray: color(gray)
);

@each $label, $color in $section-bg-colors {
  .l-section--bg-#{$label} {
    background-color: $color;

    &.l-section--pad-bottom + &.l-section--pad-top {
      @include fluid-size(none, padding-top);
    }
  }
}


// ---------------------------------------------------------------
// Unique styles
// ---------------------------------------------------------------

// .l-section--foo + .l-section--bar {

// }
