{# =============================================================== #}
{# Block
{# =============================================================== #}
{#
  {% include '_partials/block' with {
    handle: 'foo',
    block: {
      …
    },
    debug: false
  } only %}
#}

{% import '_macros/matrix' as matrix %}

{% set handle = handle | dasherize %}

{% embed '_embeds/l-section' with {
  classes: "js-block-#{handle} " ~ (classes ?? ''),
  modifiers: [handle] | merge(matrix.blockClasses(handle, block))
} %}
  {% block content %}
    {% include '_partials/blocks/' ~ handle ignore missing %}

    {% if debug ?? false %}
      <div
        style="display: inline-block; left: 0; padding-left: 30px; position: absolute; z-index: 1;"
      >
        <p
          style="font-weight: bold; font-size: 15px; line-height: 1; color: #fff; background-color: #333; border-radius: 3px; display: inline-block; position: relative; top: -60px; padding: 8px 9px 7px;">{{ handle }}</p>
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
