/*
Image Video

Either an image or a video asset.
*/

.image-video {
  @include absolute;
  overflow: hidden;
}

.image-video__inner,
.image-video__innermost {
  @include absolute;
  overflow: hidden;
  transition-property: transform, opacity;
  will-change: transform, opacity;
}

.image-video__inner {

}

.image-video__innermost {
  > .video {
    @include bg-cover;
  }
}


// ---------------------------------------------------------------
// Modifier - Fade
// ---------------------------------------------------------------

.image-video--fade {
  .image-video__inner,
  .image-video__innermost {
    transition: 2s ease(out-expo);

    .js & {
      opacity: 0;
    }
  }

  &.is-visible.is-ready {
    .image-video__inner,
    .image-video__innermost {
      opacity: 1;
    }
  }
}


// ---------------------------------------------------------------
// Modifier - Wipe
// ---------------------------------------------------------------

.image-video--wipe {
  .image-video__inner,
  .image-video__innermost {
    transition: transform 1.5s ease(out-expo);
    will-change: transform;
  }

  // Left
  .js &.image-video--wipe--left .image-video__inner {
    transform: translateX(100.5%);
  }

  .js &.image-video--wipe--left .image-video__innermost {
    transform: translateX(-100.5%) scale(1.5);
  }

  // Right
  .js &.image-video--wipe--right .image-video__inner {
    transform: translateX(-100.5%);
  }

  .js &.image-video--wipe--right .image-video__innermost {
    transform: translateX(100.5%) scale(1.5);
  }

  // Down
  .js &.image-video--wipe--down .image-video__inner {
    transform: translateY(-100.5%) scale(1.5);
  }

  .js &.image-video--wipe--down .image-video__innermost {
    transform: translateY(100.5%) scale(1.5);
  }

  &.is-visible.is-ready {
    .image-video__inner,
    .image-video__innermost {
      transform: translateX(0);
    }
  }
}
